font-family: 'Lobster', cursive;

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.task_header {
    margin-top: 5px;
}

.meal-type {
    color: rgb(0, 100, 250);
    font-style: bold;
}

.rating input {
    display: none;
}

.rating label {
    display: block;
    cursor: pointer;
    width: 50px;
    background: #ccc;
}

.rating label: before {
    content: '\f005';
    font-family: fontAwesome;
}

