<!DOCTYPE html>
<html>

<head>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1989b55fb7.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper #4caf50 green">
                <a href="{{url_for('get_recipes')}}" class="brand-logo">Healthy Cook's Club</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('get_recipes')}}">Home</a></li>
                    <li><a href="{{url_for('add_recipe')}}">New Recipe</a></li>
                    <li><a href="{{url_for('get_mealtype')}}">Search</a></li>
                    <li><a href="{{url_for('construction')}}">Log In</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('get_recipes')}}">Home</a></li>
                    <li><a href="{{url_for('add_recipe')}}">New Recipe</a></li>
                    <li><a href="{{url_for('get_mealtype')}}">Search</a></li>
                    <li><a href="{{url_for('construction')}}">Log In</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
        });

    </script>
</body>

</html>