{% extends 'base.html'%} {% block content %}

<h3>Edit Recipe</h3>
<div class="row">
    <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">restaurant_menu</i>
                <select id="category" name="meal_type">
                  <option value="" disabled selected>Choose Meal Type</option>
                  {% for meal in meal_types %}
                      {% if meal.meal_type == recipe.meal_type %}
                      <option value="{{meal.meal_type}}" selected >{{meal.meal_type}}</option>
                      {% else %}
                       <option value="{{meal.meal_type}}">{{meal.meal_type}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <label>Meal Type</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">gesture</i>
                <input id="name" name="name" type="text" class="validate" value="{{recipe.name}}">
                <label for="icon_prefix">Recipe Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">create</i>
                <textarea name="description" id="description" class="materialize-textarea">{{recipe.description}}</textarea>
                <label for="icon_telephone">Recipe Description</label>
            </div>
        </div>

        <div class="row">
            <div class="switch">
                <label>
                    {% if recipe.is_vegan == "on" %}
                          <input id="is_vegan" name="is_vegan" type="checkbox" checked>
                    {% else %}
                         <input id="is_vegan" name="is_vegan" type="checkbox">
                    {% endif%}
                  <span class="lever"></span>
                  Vegan
                </label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light #4caf50 green" type="submit" name="action">Save!
                <i class="material-icons right">done</i>
             </button>
        </div>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


{% endblock %}